services:
  postgres:
    image: postgres:latest
    container_name: resources-db
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "resources"
    ports:
    - 5432:5432
    volumes:
    - postgres_data:/var/lib/postgresql/data
    - ./init-databases.sql:/docker-entrypoint-initdb.d/init.sql
volumes:
  postgres_data:
